* {
    box-sizing: border-box;
}

.container {
    width: 777px;
    height: 311px;
    left: 41px;
    top: 78px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 20px;
}

.img1 {
    width: 237.95px;
    height: 184.57px;
    left: 64px;
    top: 141px;
    background: url(BB.png);
}

.question1{
width: 273px;
height: 40px;
left: 328px;
top: 141px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #000000;
}

.text1 {
    width: 468px;
    height: 98px;
    left: 328px;
    top: 181px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
}

.link1{
width: 109px;
height: 25px;
left: 687px;
top: 326px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
}

.line1 {
    width: 1356px;
    height: 0px;
    left: 34px;
    top: 496px;
    border: 2px solid #DFDFDF;
}

.container2{
width: 777px;
height: 311px;
left: 606px;
top: 599px;
background: #FFFFFF;
border: 1px solid #DCDCDC;
border-radius: 20px;
}

.text2{
width: 468px;
height: 98px;
left: 633px;
top: 702px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 23px;
color: #000000;
}

.img2{
    width: 258px;
    height: 258px;
    left: 1101px;
    top: 614px;
    background: url(image.png);
}

.link2{
    width: 109px;
    height: 25px;
    left: 992px;
    top: 847px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #5076FF;
}